@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility Tailwind untuk sembunyikan scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

html, body {
  background-color: #111111;
  color: white;
}
* {
  overflow: visible !important;
}
/* Hilangkan hanya scrollbar horizontal */
::-webkit-scrollbar:horizontal {
  display: none;
}

.hide-horizontal-scroll {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE dan Edge */
}

.hide-horizontal-scroll::-webkit-scrollbar {
  height: 0; /* Chrome, Safari, Opera */
}
