@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility Tailwind untuk sembunyikan scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

html, body {
  background-color: #0a0a0a;
  color: white;
}
/* * {
  overflow: visible !important;
} */

@keyframes heartbeat {
  0% { transform: scale(1); box-shadow: 0 0 0px rgba(255,255,255,0.3); }
  50% { transform: scale(1.03); box-shadow: 0 0 20px rgba(255,255,255,0.5); }
  100% { transform: scale(1); box-shadow: 0 0 0px rgba(255,255,255,0.3); }
}

.animate-heartbeat {
  animation: heartbeat 1.7s infinite ease-in-out;
}
