@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility Tailwind untuk sembunyikan scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

html, body {
  background-color: #0a0a0a;
  color: white;
}
/* * {
  overflow: visible !important;
} */